@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"), url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 500;
}

.body-margin {
  padding: 20px 4% 0 4%;
}

.content {
  display: flex;
  gap: 3%;
  margin-top: 30px;
  padding: 0 3% 3% 3%;
  background-color: #F6F6F6;
  border-radius: 25px;
  flex-wrap: wrap;
}

/* logement */

.profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FF6060;
  margin: 20px 0;
}
.profil h1 {
  font-size: 36px;
  margin: 0;
  font-weight: initial;
}

.profil h2 {
  font-size: 18px;
  margin: 10px 0 0 0;
  font-weight: initial;
  color: black;
}

.profil_G {
  align-items: center;
  display: flex;
  font-size: 18px;
  margin-bottom: 10px;
  justify-content: flex-end;
}
.profil_G--name {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.profil_G--imgProfil {
  border-radius: 100%;
  width: auto;
  height: 64px;
}

.collapses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}


.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating_rate {
  min-width: 185px;
}

.rating_tags {
  display: flex;
}

.rating_tags--tag {
  display: block;
  background-color: #FF6060;
  color: white;
  font-size: 14px;
  padding: 2px 25px;
  border-radius: 10px;
  margin-right: 10px;
}
.star {
  height: 24px;
  margin-left: 10px;
}
.star_rate {
  color: #FF6060;
}

.star_void {
  color: #E3E3E3;
}

/* Page Error */

.error {
  color: #FF6060;
  text-align: center;
  margin: 100px 0 100px 0;
}

.error h1 {
  font-size: 288px;
  margin: 0;
}

.error p {
  font-size: 36px;
  margin: 50px 0 80px 0;
}

.error a, .error  a:visited,.error a:hover {
  color: black;
  font-size: 18px;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 800px) {
  .profil {
    display: block;
  }
  .profil-rate {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .profil h1 {
    font-size: 18px;
  }
  .collapses {
    display: block;
  }
  .star {
    width: 25px;
  }
  .rating_tags--tag {
    font-size: 10px;
    padding: 2px 15px;
  }
  .rating_rate {
    min-width: 140px;
  }
  .profil_G {
    font-size: 12px;
  }
  .error h1 {
    font-size: 180px;
  }
  .error p {
    font-size: 25px;
  }
  .error a {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .content {
    font-size: 18px;
  }
  .star {
    width: 18px;
  }
  .error {
    margin-bottom: 150px;
  }
  .error h1 {
    font-size: 96px;
  }
  .error p {
    font-size: 18px;
  }

}