.collapse {
    display: block;
    margin: auto;
    width: 80%;
}

.collapse-title {
    position: relative;
    z-index: 10;
    display: flex;
    border-radius: 5px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    height: 52px;
    background-color: #FF6060;
    color: white;
}

.collapse-title h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
}

.collape-arrow {
    font-size: 28px;
    margin-right: 10px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 300ms;
}
.close{
    transform: rotate(180deg);
    transition: transform 300ms;
}

  .collapse-text {
    transition: all 300ms;
    white-space: pre-line;
    opacity: 1;
    transform: translateY(0%);
    max-height: 500px;
  }

.collapse-text_close {
    transition: all 300ms;
    opacity: 0;
    white-space: pre-line;
    transform: translateY(-120%);
    max-height: 0;
    overflow: hidden;
}
