.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 210px;
    height: 100%;
}

.header-menu {
    display: flex;
    list-style: none;
}
.header-menu li {
  color: black;
  margin-left: 40px;
  font-size: 24px;
}
.underligne {
    text-decoration: underline;
}

.header-menu a,.header-menu a:visited,.header-menu a:hover{
  text-decoration: none;
  color: black;
}